@page "/test"
@inherits TestBase
@inject HttpClient HttpClient
<h3>Test</h3>


<MudButton Variant="Variant.Filled" OnClick= "() => GetRecords()">Default</MudButton>

@if (Students.Any())
{
<table>
    <thead>
        <tr>
            <th>No</th>
            <th> Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Students)
        {

            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName @item.LastName</td>
            </tr>
        }
    </tbody>
</table>
}
@code {



}
